<app-sidenav></app-sidenav>


<div class="title">About Formulator </div>

<div class="about-frame">
<p>This application was developed using the following technologies:</p>
<ul>
  <li>Angular Version: 15.2.10</li>
  <li>Node.js Version: 18.12.0</li>
  <li>MySQL Workbench 8.0 CE</li>
  <li>NVM (Node Version Manager) 1.1.12</li>
  <li>JDK (Java Development Kit) 17</li>
</ul>
<p>- Angular is a frontend framework used for building single-page applications <br>&nbsp;(SPAs) with TypeScript. 
    <br><br>- Node.js is a JavaScript runtime used for server-side development, while <br>&nbsp;MySQL Workbench is a tool for managing MySQL databases. 
    <br><br>- NVM (Node Version Manager) allows developers to manage multiple <br>&nbsp;versions of Node.js on a single machine. 
    <br><br>- JDK (Java Development Kit) 17 is a software development kit used for <br>&nbsp;developing Java applications.</p>

</div>
<img src="assets/about/logo-hd.png" alt="logo" class="logo">