<app-sidenav></app-sidenav>

<div class="title">How to Use Formulator</div>

<div class="how-to-use-frame">

    <div class="how-to-use-container">
        <ol>
          <li>
            <h3>Getting Started</h3>
            <p>Open the Formulator application in any web browser.</p>
          </li>
          <li>
            <h3>Navigating the Interface</h3>
            <p>
              The side navigation menu provides access to different sections of the application, such as Templates, Template History, Share Template, About, and How to Use.
            </p>
            <img src="assets/how-to-use/sidenav.PNG" alt="side-nav-image" class="side-nav-image">
          </li>
          <li>
            <h3>Creating a Template</h3>
            <p>
              Click on the "Template" option in the side navigation menu.
              Fill in the required fields, such as First Name, Last Name, UserID, System, Role, Role Approver, Line Manager, Company Code, and Email Template. <br> <br>
              <img src="assets/how-to-use/Template-home.PNG" alt="side-nav-image" class="template-home"> <br>
              Click on the "Generate" button to create the template. <br><br>
              <img src="assets/how-to-use/Generated Email Template-home.PNG" alt="side-nav-image" class="generated-Email"><br>
            </p>
          </li>
          <li>
            <h3>Viewing Template History</h3>
            <p>
              Click on the "Template History" option in the side navigation menu.
              This section displays a log of past template creations or modifications.
              Use any available filtering or sorting options to narrow down the list of templates. <br><br>
              <img src="assets/how-to-use/history.PNG" alt="side-nav-image" class="history">
            </p>
          </li>
          <li>
            <h3>Sharing Templates</h3>
            <p>
              Click on the "Share Template" option in the side navigation menu.
              Follow the prompts to share a template with other users or external systems.
              Ensure that you have the necessary permissions to share templates.
            </p>
          </li>
          <li>
            <h3>About Section</h3>
            <p>
              Click on the "About" option in the side navigation menu to access information about the application.
              This section may include details such as the version number, developer credits, and contact information.
            </p>
          </li>
          <li>
            <h3>How to Use Section</h3>
            <p>
              Click on the "How to Use?" option in the side navigation menu.
              This section provides guidance on using the application effectively.
              Review the provided tips, best practices, and frequently asked questions (FAQs) to enhance your understanding of the application.
            </p>
          </li>
        </ol>
      </div>
      

</div>